**/*.map
**/*.ts
**/*.vsix
.git/**
node_modules/**
src/**
workspace/**
.vscode/**
.github/**
.husky/**
test/**
tests/**
coverage/**
**/*.test.*
**/*.spec.*
.gitignore
*.bat
package-lock.json
tsconfig.json
webpack.config.js
