node_modules/**
src/**
workspace/**
*.bat
.git/**
.github/**
.gitignore
.husky/**
**/*.map
**/*.ts
**/*.vsix
.vscode/**
package-lock.json
tsconfig.json
webpack.config.js
coverage/**
test/**
tests/**
**/*.test.*
**/*.spec.*
