.git/**
.github/**
.husky/**
.vscode/**
coverage/**
doc/github-asset/**
node_modules/**
src/**
test/**
tests/**
workspace/**
**/*.map
**/*.ts
**/*.vsix
**/*.test.*
**/*.spec.*
*.bat
.gitignore
package-lock.json
tsconfig.json
webpack.config.js
